SUPABASE_URL=https://tlwsbkgrjdviezjelhfp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsd3Nia2dyamR2aWV6amVsaGZwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYxNDA1MjYsImV4cCI6MjA5MTcxNjUyNn0.IV2GaZ_sz0USU3l4rXa8pcaGBvRb6EkfhneaREmJ9ZE